RewriteEngine on

RewriteRule ^lecture-([0-9]+)-?(.*).html&(.*)$			index.php?view=lecture&id=$1&$3 [L]
RewriteRule ^lecture-([0-9]+)-?(.*).html$				index.php?view=lecture&id=$1 [L]

RewriteRule ^rediger-([a-z]*).html$						index.php?view=rediger&type=$1 [L]

RewriteRule ^tag-([0-9a-z]+).html$						index.php?view=tag&tag=$1 [L]

RewriteRule ^profil-([0-9]+).html$						index.php?view=profil&id=$1 [L]

RewriteRule ^([a-z]+)\.html$							index.php?view=$1 [L]
RewriteRule ^([a-z]+)\.html&?(.*)$						index.php?view=$1&$2 [L]

#RewriteRule ^(.+)\.css3$								script/cssgenerator.php?c=$1 [L]

#Options +MultiViews
Options -Indexes
AddDefaultCharset UTF-8
AddType text/less .less

#Deny From All
Allow From 127.0.0.1