{# src/ComingSoon/Resources/views/comingsoon.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Bientôt :){% endblock %}
{% block stylesheet %}
{% endblock %}
{% block body %}
	<div id="content">
		Bientôt :)
	</div>
{% endblock %}