Options -Indexes
AddDefaultCharset UTF-8

DirectoryIndex app.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ app.php [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},QSA,L]

<IfModule mod_headers.c>
	<IfModule mod_deflate.c>
		SetOutputFilter DEFLATE
	</IfModule>
</IfModule>

<FilesMatch ".(eot|ttf|otf|woff)">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>

#mnt ErrorDocument 403 /maintenance.html
#mnt #Maintenance
#mnt <FilesMatch ".*\.php$">
#mnt 	Deny From All
#mnt </FilesMatch>

Allow From All
